<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BCPH: Influenza Risk</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/logo_meditech_insights.png" rel="icon">
  <link href="assets/logo_meditech_insights.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>


  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
        <i class="bi bi-clock"></i> วันที่ : {{ currentDate | date: 'dd MM yyyy HH:mm' }}

      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-phone"></i> ติดต่อเรา: 086-2295093
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href="index.html" class="logo me-auto"><img src="assets/logo_meditech_insights.png" alt=""></a>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" (click)="scrollToHero('1')">หน้าหลัก</a></li>
          <li><a class="nav-link scrollto" (click)="scrollToHero('2')">เกี่ยวกับ</a></li>
          <!-- <li><a class="nav-link scrollto" (click)="scrollToHero('3')">วินิจฉัยความเสี่ยง</a></li> -->
          <li><a class="nav-link scrollto" (click)="scrollToHero('4')">ติดต่อเรา</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!-- <div class="text-center"><button class="btn" (click)="goToadmin()">เข้าสู่ระบบ</button></div> -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section #heroSection>
    <div class="carousel-inner" role="listbox" style="margin-top: 60px;">
      <!-- Slide 1 -->
      <div>
        <img src="assets/Artboard_1s.png" alt="รูปภาพ">
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">
    

    <!-- ======= About Us Section ======= -->
    <section id="about" #heroAbout class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="margin-top: 80px;">
          <h2>About</h2>
          <p>"เปิดโลกของอนาคตที่สมารถคิดเองด้วยระบบทางปัญญาประดิษฐ์และซอฟต์แวร์อัจฉริยะที่ทันสมัย พร้อมทั้งระบบความปลอดภัยและไว้วางใจได้ในการบริหารจัดการข้อมูล ด้วยบริการและสนับสนุนที่ยอดเยี่ยม พร้อมทำให้ธุรกิจของคุณเติบโตไปพร้อมๆ กับเทคโนโลยีที่ก้าวล้ำหน้า."
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/smartcity.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>โครงสร้างพื้นฐาน (Infrastructure)</h3>
            <p class="fst-italic"> ก่อนที่จะตัดสินใจพัฒนาระบบอัจฉริยะ ควรคำนึงถึงข้อใด ?
              1.การทำความเข้าใจความต้องการ:

              ทำการวิเคราะห์และเข้าใจความต้องการของลูกค้าอย่างละเอียด เพื่อกำหนดขอบเขตและความสำคัญของระบบที่กำลังถูกพัฒนา.
              การวางแผนโครงการ:
              
              2.กำหนดแผนโครงการที่ชัดเจนและมีเป้าหมายที่นิยมทั้งในด้านเวลา, ทรัพยากร, และงบประมาณ.
              การสร้างฐานข้อมูล:
              
              3.ออกแบบและสร้างฐานข้อมูลที่เข้มแข็งและมีประสิทธิภาพในการจัดเก็บข้อมูลที่จำเป็นสำหรับระบบของคุณ.
              ความปลอดภัยของข้อมูล:
              
              4.ให้ความสำคัญกับมาตรฐานความปลอดภัยและการจัดการกับข้อมูล เพื่อปกป้องข้อมูลลูกค้าและข้อมูลธุรกิจ.
              การทำแบบจำลอง (Modeling):
              
              5.สร้างแบบจำลองที่เหมาะสมสำหรับระบบที่คุณกำลังพัฒนา เช่น แบบจำลอง Machine Learning สำหรับระบบทางปัญญาประดิษฐ์.
              การเลือกเทคโนโลยี:
              
              6.ตรวจสอบและเลือกเทคโนโลยีที่เหมาะสมกับความต้องการของโครงการ เช่น การใช้งานภาษาโปรแกรม, ระบบฐานข้อมูล, และเทคโนโลยี IOT.
              การพัฒนาซอฟต์แวร์:
              
              7.ทดสอบระบบอย่างละเอียดเพื่อค้นพบและแก้ไขข้อผิดพลาด และทำการปรับปรุงตามความต้องการ.
              การปรับปรุงและการพัฒนาต่อไป:
              
              8.ติดตามการใช้งาน, รับข้อเสนอแนะ, และทำการปรับปรุงแก้ไขตามความต้องการของผู้ใช้.
              การสร้างพื้นฐานที่เข้มแข็งและทำการวางแผนอย่างเป็นระบบจะช่วยให้การพัฒนาระบบอัจฉริยะเป็นไปได้ด้วยความสะดวกและประสิทธิภาพมากยิ่งขึ้น
            </p><br><br>   
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Appointment Section ======= -->


    <!-- End Appointment Section -->

    <!-- ======= Departments Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>การพัฒนาระบบอัจฉริยะเช่นระบบทางปัญญาประดิษฐ์, ซอฟต์แวร์อัจฉริยะ, และระบบ Internet of Things (IOT) ต้องเริ่มต้นจากการสร้างพื้นฐานที่เข้มแข็งและมีการวางแผนอย่างดีก่อนที่จะเข้าสู่ขั้นตอนการพัฒนาเพิ่มเติม นี่คือขั้นตอนและประการที่สำคัญในการก่อตั้งพื้นฐาน</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <img src="assets/Software.jpg" class="img-fluid" alt="">
              <h4><br><a href="https://lin.ee/y8XDP1g">พัฒนาระบบซอฟต์แวร์สำเร็จรูป</a></h4>
              <p>การออกแบบและพัฒนาซอฟต์แวร์ที่เข้ากับความต้องการของลูกค้า เช่น ระบบบริหารจัดการ, ระบบ ERP (Enterprise Resource Planning), ระบบ CRM (Customer Relationship Management), และอื่น ๆ</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <img src="assets/architecture-api.svg" class="img-fluid" alt="">
              <h4><br><a href="">การเชื่อมต่อและการบูรณาการ (Integration)</a></h4>
              <p>การสร้างการเชื่อมต่อกับระบบอื่น ๆ, เช่น การเชื่อมต่อกับ API, การบูรณาการกับระบบที่มีอยู่, และการเชื่อมต่อกับแหล่งข้อมูลภายนอก.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <img src="assets/1a.jpg" class="img-fluid" alt="">
              <h4><br><a href="">ระบบ Internet of Things (IoT)</a></h4>
              <p>การพัฒนาและการบริหารจัดการระบบที่เชื่อมต่อกับอุปกรณ์ IoT เพื่อเก็บข้อมูลและควบคุมการทำงาน.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <img src="assets/cloud.jpg" class="img-fluid" alt="">
              <h4><br><a href="">บริการคลาวด์ (Cloud Services)</a></h4>
              <p>การพัฒนาและบริการที่เกี่ยวข้องกับการใช้บริการคลาวด์ เช่น การจัดการข้อมูลในคลาวด์, การให้บริการ SaaS (Software as a Service), และอื่น ๆ.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <img src="assets/ciphertrus.png" class="img-fluid" alt="">
              <h4><br><a href="">การบริการในด้านความปลอดภัย</a></h4>
              <p>การให้บริการทางด้านความปลอดภัยของซอฟต์แวร์, เช่น การตรวจสอบช่องโหว่, การเข้ารหัสข้อมูล, และการจัดการความปลอดภัยในระบบ</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <img src="assets/template.jpg" class="img-fluid" alt="">
              <h4><br><a href="">การให้คำปรึกษา (Consulting Services)</a></h4>
              <p>การให้คำปรึกษาเกี่ยวกับการพัฒนาซอฟต์แวร์, การเลือกใช้เทคโนโลยีที่เหมาะสม, และการวางแผนโครงการ.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" #heroHeroContact class="contact">
      <div class="container">

        <div class="section-title" style="margin-top: 50px;">
          <h2>ติดต่อเรา</h2>
          <p>MediTech Insights
            85 หมู่ 9 ต.นาพู่ อ.เพ็ญ จ.อุดรธานี<br>
            Contact Info
            โทร. 0862295093
            อีเมล์ poomsak1994@gmail.com
          </p>
        </div>

      </div>

      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d326.6380935517953!2d102.72979025511067!3d17.56593311285771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x312381002683cec5%3A0xb60d657cbca8001e!2sMeditech%20Insights!5e0!3m2!1sen!2sth!4v1703002396160!5m2!1sen!2sth" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MediTech Insights</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
        
      </div>
    </div>
  </footer><!-- End Footer -->

</body>

</html>
